* {
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

main {
  padding: 3rem;
  background: linear-gradient(
    112.1deg,
    rgb(33, 39, 61) 35%,
    rgb(108, 121, 165) 60%
  );
  color: #e2d1c3;
}

h1 {
  font-size: 3rem;
  margin-bottom: 3rem;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button {
  margin: 0.7rem;
  margin-bottom: 3rem;
  padding: 0.8rem;
  width: 12rem;
  background-color: #e2d1c3;
  color: #181253;
  border: 0;
  border-radius: 1rem;
  font-size: 1rem;
  font-weight: 500;
}

input[type="text"] {
  text-align: center;
  height: 2rem;
  margin: 0.7rem;
  border: 0;
  border-radius: 0.5rem;
}

h2 {
  margin-bottom: 2rem;
}

.displayLista {
  height: 15rem;
  background-color: rgba(240, 255, 255, 0.233);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin: 1rem;
  padding: 1rem;
}

.cartaz {
  width: 15rem;
}
